DJANGO_SECRET_KEY=change-me
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1
POSTGRES_DB=air_quality_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
CORS_ALLOWED_ORIGINS=http://localhost:4200,http://127.0.0.1:4200
OPENAQ_API_URL=https://api.openaq.org/v3
WAQI_API_URL=https://api.waqi.info/feed/geo:{lat};{lon}/
WAQI_TOKEN=change-me
AIR_KZ_API_URL=https://air.org.kz/api
AIR_KZ_TOKEN=change-me
IQAIR_API_URL=https://api.airvisual.com/v2/nearest_city
IQAIR_API_KEY=change-me
HF_TOKEN=change-me
